.tab-container,
.tab,
.search-container,
.grid-item,
.image-dialog {
  display: flex;
  justify-content: center;
}

.grid-item,
.image-dialog {
  flex-direction: column;
}

.tab,
.search-container,
.grid-item,
.image-dialog {
  align-items: center;
}

.tab,
.tab-close-button,
.search-container label,
.dialog-close-button,
.grid-item {
  cursor: pointer;
}

.tab-close-button:hover,
.grid-item:hover,
.dialog-close-button:hover {
  background: var(--color-lightblue);
}

.search-container label,
.image-info {
  color: var(--color-text);
}

.tab:hover,
.tab-close-button,
.grid-item,
.dialog-close-button {
  transition: ease-in-out 0.2s;
}

.app-title,
.tab-container,
.dialog-close-button {
  margin: 1rem 0;
}

.tab,
button {
  border: none;
}

main {
  text-align: center;
  font-family: "Arial", sans-serif;
}

.app-title {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  word-spacing: 0.5rem;
  font-family: "PT Sans", sans-serif;
  color: var(--color-title-seagreen);
}

.tab {
  margin: 0 0.3rem;
  padding: 0.5rem 0.8rem;
  border-radius: 9px 9px 0 0;
  box-shadow: 0.5px 0.5px 3px var(--color-box-shadow);
  background: var(--color-cloud-gray);
  text-transform: uppercase;
  font-size: 0.7rem;
}

.tab .tab-category {
  color: var(--color-dark-gray);
  font-weight: bold;
}

.tab:hover {
  background: var(--color-darker-gray);
}

.tab.active {
  background-color: var(--color-white);
}

.tab-close-button {
  margin: 0.3rem;
  padding: 0.1rem 0.4rem;
  border-radius: 100%;
}

.search-container {
  grid-column: 1 / -1;
  margin: 3rem 0 0.5rem 0;
  transition: ease-in-out 1s;
}

.search-container label {
  margin-right: 0.6rem;
  font-size: 1rem;
  font-weight: bold;
}

.search-container input {
  padding: 0.3rem;
  transition: ease-in-out 0.3s;
  border-radius: 5px;
  outline: none;
}

.search-container input:hover {
  padding: 0.6rem;
  border: 2px solid blueviolet;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin: 0 0.7rem;
}

.grid-item {
  margin: 0;
  padding: 0.7rem;
  border-radius: 4px;
  background: var(--color-cloud-gray);
  font-family: Helvetica, Arial, sans-serif;
}

.grid-item:hover {
  padding: 0;
}

.grid-item img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  transition: ease-in-out 0.5s;
}

.grid-item:hover img {
  filter: brightness(115%);
}

.grid-item .image-info {
  flex: 1;
  padding: 0.5rem;
  font-weight: bold;
}

.image-dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  background: var(--color-bg-image-dialog);
}

.image-dialog img {
  width: 90%;
  height: 90%;
  object-fit: contain;
}

.dialog-close-button {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-weight: bold;
  background: var(--color-cloud-gray);
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 767px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .search-container {
    flex-direction: column;
  }

  .search-container input {
    margin-top: 1rem;
    margin-left: -0.5rem;
    width: 15rem;
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 300px) {
  .app-title {
    font-size: 7dvw;
  }
  .tab {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.3rem;
  }

  .search-container input {
    width: 90%;
  }
  .grid-container {
    grid-template-columns: 1fr;
  }
}
